<a href="https://colab.research.google.com/github/davriffe/Finance-Week/blob/master/Regression_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame

import numpy as np 
from matplotlib import style

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [7]:
pip install yfinance --upgrade --no-cache-dir

Requirement already up-to-date: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.45)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.16.5)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.24.2)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.5.3)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.6.16)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.24->yfinance) (1.12.0)

In [10]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.6/dist-packages (0.7.4)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (4.2.6)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (2.21.0)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (0.24.2)
Requirement already satisfied: wrapt in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (1.11.2)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (2019.6.16)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->pandas_datareader) (1.16.5)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->pandas_datareader) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->pandas_datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.19.2->pandas_datareader) (1.12.0)

In [11]:
pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.45)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.16.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.24->yfinance) (1.12.0)

In [12]:
from pandas_datareader import data as pdr
import yfinance as yf
import datetime
start = datetime.datetime(2014,1,1)
end= datetime.datetime(2019,1,1)
yf.pdr_override()
df_full = yf.download("aapl",start = start,end=end).reset_index()
df_full.to_csv('aapl.csv',index=False)
df_full.head()

[*********************100%***********************]  1 of 1 downloaded

        Date   Open   High    Low  Close  Adj Close     Volume
0 2014-01-02  79.38  79.58  78.86  79.02      71.32   58671200
1 2014-01-03  78.98  79.10  77.20  77.28      69.75   98116900
2 2014-01-06  76.78  78.11  76.23  77.70      70.13  103152700
3 2014-01-07  77.76  77.99  76.85  77.15      69.63   79302300
4 2014-01-08  76.97  77.94  76.96  77.64      70.07   64632400

In [13]:

import pandas as pd
df = pd.read_csv('aapl.csv')
df

            Date    Open    High     Low   Close  Adj Close     Volume
0     2014-01-02   79.38   79.58   78.86   79.02      71.32   58671200
1     2014-01-03   78.98   79.10   77.20   77.28      69.75   98116900
2     2014-01-06   76.78   78.11   76.23   77.70      70.13  103152700
3     2014-01-07   77.76   77.99   76.85   77.15      69.63   79302300
4     2014-01-08   76.97   77.94   76.96   77.64      70.07   64632400
5     2014-01-09   78.11   78.12   76.48   76.65      69.18   69787200
6     2014-01-10   77.12   77.26   75.87   76.13      68.72   76244000
7     2014-01-13   75.70   77.50   75.70   76.53      69.08   94623200
8     2014-01-14   76.89   78.10   76.81   78.06      70.45   83140400
9     2014-01-15   79.07   80.03   78.81   79.62      71.87   97909700
10    2014-01-16   79.27   79.55   78.81   79.18      71.47   57319500
11    2014-01-17   78.78   78.87   77.13   77.24      69.71  106684900
12    2014-01-21   77.28   78.58   77.20   78.44      70.80   82131700
13    2014-01-22   78.70   79.61   78.26   78.79      71.11   94996300
14    2014-01-23   78.56   79.50   77.83   79.45      71.71  100809800
15    2014-01-24   79.14   79.37   77.82   78.01      70.41  107338700
16    2014-01-27   78.58   79.26   77.96   78.64      70.98  138719700
17    2014-01-28   72.68   73.57   71.72   72.36      65.31  266380800
18    2014-01-29   71.99   72.48   71.23   71.54      64.57  125702500
19    2014-01-30   71.79   72.36   70.96   71.40      64.44  169625400
20    2014-01-31   70.74   71.65   70.51   71.51      64.55  116199300
21    2014-02-03   71.80   72.53   71.33   71.65      64.67  100366000
22    2014-02-04   72.26   72.78   71.82   72.68      65.60   94170300
23    2014-02-05   72.37   73.61   72.32   73.23      66.09   82086200
24    2014-02-06   72.87   73.36   72.54   73.22      66.48   64441300
25    2014-02-07   74.48   74.70   73.91   74.24      67.41   92570100
26    2014-02-10   74.09   76.00   74.00   75.57      68.62   86389800
27    2014-02-11   75.80   76.82   75.64   76.57      69.52   70564200
28    2014-02-12   76.71   77.08   76.18   76.56      69.52   77025200
29    2014-02-13   76.38   77.84   76.31   77.78      70.62   76849500
...          ...     ...     ...     ...     ...        ...        ...
1228  2018-11-15  188.39  191.97  186.90  191.41     189.14   46478800
1229  2018-11-16  190.50  194.97  189.46  193.53     191.24   36928300
1230  2018-11-19  190.00  190.70  184.99  185.86     183.66   41925300
1231  2018-11-20  178.37  181.47  175.51  176.98     174.88   67825200
1232  2018-11-21  179.73  180.27  176.55  176.78     174.69   31124200
1233  2018-11-23  174.94  176.60  172.10  172.29     170.25   23624000
1234  2018-11-26  174.24  174.95  170.26  174.62     172.55   44998500
1235  2018-11-27  171.51  174.77  170.88  174.24     172.18   41387400
1236  2018-11-28  176.73  181.29  174.93  180.94     178.80   46062500
1237  2018-11-29  182.66  182.80  177.70  179.55     177.42   41770000
1238  2018-11-30  180.29  180.33  177.03  178.58     176.46   39531500
1239  2018-12-03  184.46  184.94  181.21  184.82     182.63   40802500
1240  2018-12-04  180.95  182.39  176.27  176.69     174.60   41344300
1241  2018-12-06  171.76  174.78  170.42  174.72     172.65   43098400
1242  2018-12-07  173.49  174.49  168.30  168.49     166.49   42281600
1243  2018-12-10  165.00  170.09  163.33  169.60     167.59   62026000
1244  2018-12-11  171.66  171.79  167.00  168.63     166.63   47281700
1245  2018-12-12  170.40  171.92  169.02  169.10     167.10   35627700
1246  2018-12-13  170.49  172.57  169.55  170.95     168.93   31898600
1247  2018-12-14  169.00  169.08  165.28  165.48     163.52   40703700
1248  2018-12-17  165.45  168.35  162.73  163.94     162.00   44287900
1249  2018-12-18  165.38  167.53  164.39  166.07     164.10   33841500
1250  2018-12-19  166.00  167.45  159.09  160.89     158.98   49047300
1251  2018-12-20  160.40  162.11  155.30  156.83     154.97   64773000
1252  2018-12-21  156.86  158.16  149.63  150.73     148.94   95744600
1253  2018-12-24  148.15  151.55  146.59  146.83     145.09   37169200
1254  2018-12-26  148.30  157.23  146.72  157.17     155.31   58582500
1255  2018-12-27  155.84  156.77  150.07  156.15     154.30   53117100
1256  2018-12-28  157.50  158.52  154.55  156.23     154.38   42291400
1257  2018-12-31  158.53  159.36  156.48  157.74     155.87   35003500

[1258 rows x 7 columns]