<a href="https://colab.research.google.com/github/davriffe/Finance-Week/blob/master/Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Matrix math & data Pre-Processing
import numpy

#for data formatting
import pandas as pd

#for plotting
import matplotlib.pyplot as plt
import seaborn as sns
 
sns.set()

In [6]:
pip install yfinance --upgrade --no-cache-dir

Requirement already up-to-date: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.45)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.16.5)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.24.2)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.6.16)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.5.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.24->yfinance) (1.12.0)

In [8]:
from google.colab import drive
drive.mount('drive', force_remount=True)

Mounted at drive

In [11]:
import pandas_datareader as pdr
import fix_yahoo_finance as yf

yf.pdr_override()
dataframe = pdr.get_data_yahoo('JPM', start="2018-01-01").reset_index()
dataframe.to_csv('JPM.csv', index=False)
dataframe.head()

        Date        High         Low  ...       Close      Volume   Adj Close
0 2018-01-02  108.019997  106.809998  ...  107.949997  13578800.0  103.156837
1 2018-01-03  108.489998  107.480003  ...  108.059998  11901000.0  103.261963
2 2018-01-04  110.029999  108.199997  ...  109.040001  12953700.0  104.741249
3 2018-01-05  109.550003  107.779999  ...  108.339996  14155000.0  104.068840
4 2018-01-08  108.680000  107.699997  ...  108.500000  12466500.0  104.222534

[5 rows x 7 columns]